@import "tailwindcss";

@font-face {
  font-family: "Vazir";
  src: url(/fonts/Vazir.ttf);
}

:root {
  --neon-green: oklch(70.4% 0.14 182.503);
  --neon-blue: oklch(68.5% 0.169 237.323);
}

@theme inline {
  --color-neon-green: var(--neon-green);
  --color-neon-blue: var(--neon-blue);

  --font-vazir: "Vazir";
}
