@import "tailwindcss";

@font-face {
  font-family: "Vazir";
  src: url(/fonts/Vazir.ttf);
}

@font-face {
  font-family: "Shabnam";
  src: url(/fonts/Shabnam.ttf);
}

@font-face {
  font-family: "Yekan";
  src: url(/fonts/iran_yekan_web_medium.ttf);
}

@font-face {
  font-family: "IRSans";
  src: url(/fonts/IRANSansX-Medium.ttf);
}

:root {
  --neon-green: oklch(77.7% 0.152 181.912);
  --neon-blue: oklch(78.9% 0.154 211.53);
}

@theme inline {
  --color-neon-green: var(--neon-green);
  --color-neon-blue: var(--neon-blue);

  --font-vazir: "Vazir";
  --font-shabnam: "Shabnam";
  --font-yekan: "Yekan";
  --font-irsans: "IRSans";
}

@keyframes sparkle {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--neon-green, #25ff53));
  }
  10% {
    transform: scale(1.2) rotate(7deg);
    opacity: 0.7;
    filter: drop-shadow(0 0 18px var(--neon-blue, #42aaff));
  }
  20% {
    transform: scale(1) rotate(-5deg);
    opacity: 1;
    filter: drop-shadow(0 0 16px var(--neon-green, #25ff53));
  }
  35% {
    transform: scale(1.25) rotate(13deg);
    opacity: 0.6;
    filter: drop-shadow(0 0 24px var(--neon-blue, #42aaff));
  }
  55% {
    transform: scale(1) rotate(-8deg);
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--neon-green, #25ff53));
  }
  70% {
    transform: scale(1.18) rotate(4deg);
    opacity: 0.7;
    filter: drop-shadow(0 0 18px var(--neon-blue, #42aaff));
  }
  85% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--neon-green, #25ff53));
  }
}

.animate-sparkle {
  animation: sparkle 1.8s infinite linear;
  will-change: transform, filter, opacity;
}
