@import "tailwindcss";

:root {
  --neon-green: oklch(77.7% 0.152 181.912);
  --neon-blue: oklch(78.9% 0.154 211.53);
  color-scheme: dark;
}

@theme inline {
  --color-neon-green: var(--neon-green);
  --color-neon-blue: var(--neon-blue);
}

html {
  color-scheme: dark;
  forced-color-adjust: none;
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 100px; /* این مقدار را متناسب با ارتفاع هدرت تنظیم کن */
}

@keyframes sparkle {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--neon-green, #25ff53));
  }
  10% {
    transform: scale(1.2) rotate(7deg);
    opacity: 0.7;
    filter: drop-shadow(0 0 18px var(--neon-blue, #42aaff));
  }
  20% {
    transform: scale(1) rotate(-5deg);
    opacity: 1;
    filter: drop-shadow(0 0 16px var(--neon-green, #25ff53));
  }
  35% {
    transform: scale(1.25) rotate(13deg);
    opacity: 0.6;
    filter: drop-shadow(0 0 24px var(--neon-blue, #42aaff));
  }
  55% {
    transform: scale(1) rotate(-8deg);
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--neon-green, #25ff53));
  }
  70% {
    transform: scale(1.18) rotate(4deg);
    opacity: 0.7;
    filter: drop-shadow(0 0 18px var(--neon-blue, #42aaff));
  }
  85% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    filter: drop-shadow(0 0 8px var(--neon-green, #25ff53));
  }
}

.bg-linear-to-br-darksite {
  background: linear-gradient(125deg, #05233a 12%, #102230 81%, #05233a 100%);
}
.animate-sparkle {
  animation: sparkle 1.8s infinite linear;
  will-change: transform, filter, opacity;
}
